In [1]:
import pandas as pd

data_felix = pd.read_clipboard()

print(data_felix)

      Price  SqFt  Bedrooms  Bathrooms  Offers Brick Neighborhood
0    114300  1790         2          2       2    No         East
1    114200  2030         4          2       3    No         East
2    114800  1740         3          2       1    No         East
3     94700  1980         3          2       3    No         East
4    119800  2130         3          3       3    No         East
..      ...   ...       ...        ...     ...   ...          ...
123  119700  1900         3          3       3   Yes         East
124  147900  2160         4          3       3   Yes         East
125  113500  2070         2          2       2    No        North
126  149900  2020         3          3       1    No         West
127  124600  2250         3          3       4    No        North

[128 rows x 7 columns]

In [2]:
felix = data_felix[data_felix['Bedrooms'] == 2]

print(felix)

      Price  SqFt  Bedrooms  Bathrooms  Offers Brick Neighborhood
0    114300  1790         2          2       2    No         East
11   123000  1870         2          2       2   Yes         East
18   111400  1700         2          2       1   Yes         East
28    69100  1600         2          2       3    No        North
31   112300  1930         2          2       2   Yes        North
34   117800  2000         2          2       3    No        North
36   117500  1880         2          2       2    No        North
40   106600  1560         2          2       1    No         East
42   105600  1990         2          2       3    No         East
46   129800  1990         2          3       2    No        North
48   115900  1980         2          2       2    No         East
51    91100  1860         2          2       3    No        North
52   117400  2150         2          3       4    No        North
55   125700  1720         2          2       2   Yes         East
61   100900  1610         2          2       2    No        North
63   120500  1910         2          3       2    No         East
65   111100  1450         2          2       1   Yes        North
75   106900  1900         2          2       2    No        North
82   164800  2050         2          2       1   Yes         West
84    90500  1520         2          2       3    No        North
89    97800  2010         2          2       4    No        North
95   152500  1970         2          2       1   Yes         West
97   126800  2000         2          2       1   Yes         East
110  111600  1710         2          2       1    No        North
111  114900  1740         2          2       2    No        North
112  123600  1940         2          2       2   Yes         East
119  109700  1920         2          2       4    No        North
120  110400  1930         2          3       3    No        North
122  144800  2060         2          2       1   Yes         East
125  113500  2070         2          2       2    No        North

In [4]:
felix['Bathrooms'] = pd.to_numeric(felix['Bathrooms'])

import numpy as np

felix['Bathrooms'] = felix['Bathrooms'].apply(lambda x:'large'if x>2else'small')
                                              
print(felix)

      Price  SqFt  Bedrooms Bathrooms  Offers Brick Neighborhood
0    114300  1790         2     small       2    No         East
11   123000  1870         2     small       2   Yes         East
18   111400  1700         2     small       1   Yes         East
28    69100  1600         2     small       3    No        North
31   112300  1930         2     small       2   Yes        North
34   117800  2000         2     small       3    No        North
36   117500  1880         2     small       2    No        North
40   106600  1560         2     small       1    No         East
42   105600  1990         2     small       3    No         East
46   129800  1990         2     large       2    No        North
48   115900  1980         2     small       2    No         East
51    91100  1860         2     small       3    No        North
52   117400  2150         2     large       4    No        North
55   125700  1720         2     small       2   Yes         East
61   100900  1610         2     small       2    No        North
63   120500  1910         2     large       2    No         East
65   111100  1450         2     small       1   Yes        North
75   106900  1900         2     small       2    No        North
82   164800  2050         2     small       1   Yes         West
84    90500  1520         2     small       3    No        North
89    97800  2010         2     small       4    No        North
95   152500  1970         2     small       1   Yes         West
97   126800  2000         2     small       1   Yes         East
110  111600  1710         2     small       1    No        North
111  114900  1740         2     small       2    No        North
112  123600  1940         2     small       2   Yes         East
119  109700  1920         2     small       4    No        North
120  110400  1930         2     large       3    No        North
122  144800  2060         2     small       1   Yes         East
125  113500  2070         2     small       2    No        North

<>:5: SyntaxWarning: invalid decimal literal
<>:5: SyntaxWarning: invalid decimal literal
C:\Users\Felix\AppData\Local\Temp\ipykernel_10984\3656116665.py:5: SyntaxWarning: invalid decimal literal
  felix['Bathrooms'] = felix['Bathrooms'].apply(lambda x:'large'if x>2else'small')
C:\Users\Felix\AppData\Local\Temp\ipykernel_10984\3656116665.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  felix['Bathrooms'] = pd.to_numeric(felix['Bathrooms'])
C:\Users\Felix\AppData\Local\Temp\ipykernel_10984\3656116665.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  felix['Bathrooms'] = felix['Bathrooms'].apply(lambda x:'large'if x>2else'small')

In [5]:
import numpy as np

felix['newvariable'] = np.where(felix['Offers'] > 2, 'large', 'small')

print(felix)

      Price  SqFt  Bedrooms Bathrooms  Offers Brick Neighborhood newvariable
0    114300  1790         2     small       2    No         East       small
11   123000  1870         2     small       2   Yes         East       small
18   111400  1700         2     small       1   Yes         East       small
28    69100  1600         2     small       3    No        North       large
31   112300  1930         2     small       2   Yes        North       small
34   117800  2000         2     small       3    No        North       large
36   117500  1880         2     small       2    No        North       small
40   106600  1560         2     small       1    No         East       small
42   105600  1990         2     small       3    No         East       large
46   129800  1990         2     large       2    No        North       small
48   115900  1980         2     small       2    No         East       small
51    91100  1860         2     small       3    No        North       large
52   117400  2150         2     large       4    No        North       large
55   125700  1720         2     small       2   Yes         East       small
61   100900  1610         2     small       2    No        North       small
63   120500  1910         2     large       2    No         East       small
65   111100  1450         2     small       1   Yes        North       small
75   106900  1900         2     small       2    No        North       small
82   164800  2050         2     small       1   Yes         West       small
84    90500  1520         2     small       3    No        North       large
89    97800  2010         2     small       4    No        North       large
95   152500  1970         2     small       1   Yes         West       small
97   126800  2000         2     small       1   Yes         East       small
110  111600  1710         2     small       1    No        North       small
111  114900  1740         2     small       2    No        North       small
112  123600  1940         2     small       2   Yes         East       small
119  109700  1920         2     small       4    No        North       large
120  110400  1930         2     large       3    No        North       large
122  144800  2060         2     small       1   Yes         East       small
125  113500  2070         2     small       2    No        North       small

C:\Users\Felix\AppData\Local\Temp\ipykernel_10984\4291740795.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  felix['newvariable'] = np.where(felix['Offers'] > 2, 'large', 'small')

In [6]:
felix['newvariable'] = felix['Price'] / felix['SqFt']

print(felix)

      Price  SqFt  Bedrooms Bathrooms  Offers Brick Neighborhood  newvariable
0    114300  1790         2     small       2    No         East    63.854749
11   123000  1870         2     small       2   Yes         East    65.775401
18   111400  1700         2     small       1   Yes         East    65.529412
28    69100  1600         2     small       3    No        North    43.187500
31   112300  1930         2     small       2   Yes        North    58.186528
34   117800  2000         2     small       3    No        North    58.900000
36   117500  1880         2     small       2    No        North    62.500000
40   106600  1560         2     small       1    No         East    68.333333
42   105600  1990         2     small       3    No         East    53.065327
46   129800  1990         2     large       2    No        North    65.226131
48   115900  1980         2     small       2    No         East    58.535354
51    91100  1860         2     small       3    No        North    48.978495
52   117400  2150         2     large       4    No        North    54.604651
55   125700  1720         2     small       2   Yes         East    73.081395
61   100900  1610         2     small       2    No        North    62.670807
63   120500  1910         2     large       2    No         East    63.089005
65   111100  1450         2     small       1   Yes        North    76.620690
75   106900  1900         2     small       2    No        North    56.263158
82   164800  2050         2     small       1   Yes         West    80.390244
84    90500  1520         2     small       3    No        North    59.539474
89    97800  2010         2     small       4    No        North    48.656716
95   152500  1970         2     small       1   Yes         West    77.411168
97   126800  2000         2     small       1   Yes         East    63.400000
110  111600  1710         2     small       1    No        North    65.263158
111  114900  1740         2     small       2    No        North    66.034483
112  123600  1940         2     small       2   Yes         East    63.711340
119  109700  1920         2     small       4    No        North    57.135417
120  110400  1930         2     large       3    No        North    57.202073
122  144800  2060         2     small       1   Yes         East    70.291262
125  113500  2070         2     small       2    No        North    54.830918

C:\Users\Felix\AppData\Local\Temp\ipykernel_10984\3700664511.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  felix['newvariable'] = felix['Price'] / felix['SqFt']

In [7]:
felix = felix.drop(columns=['newvariable'])

print(felix)

      Price  SqFt  Bedrooms Bathrooms  Offers Brick Neighborhood
0    114300  1790         2     small       2    No         East
11   123000  1870         2     small       2   Yes         East
18   111400  1700         2     small       1   Yes         East
28    69100  1600         2     small       3    No        North
31   112300  1930         2     small       2   Yes        North
34   117800  2000         2     small       3    No        North
36   117500  1880         2     small       2    No        North
40   106600  1560         2     small       1    No         East
42   105600  1990         2     small       3    No         East
46   129800  1990         2     large       2    No        North
48   115900  1980         2     small       2    No         East
51    91100  1860         2     small       3    No        North
52   117400  2150         2     large       4    No        North
55   125700  1720         2     small       2   Yes         East
61   100900  1610         2     small       2    No        North
63   120500  1910         2     large       2    No         East
65   111100  1450         2     small       1   Yes        North
75   106900  1900         2     small       2    No        North
82   164800  2050         2     small       1   Yes         West
84    90500  1520         2     small       3    No        North
89    97800  2010         2     small       4    No        North
95   152500  1970         2     small       1   Yes         West
97   126800  2000         2     small       1   Yes         East
110  111600  1710         2     small       1    No        North
111  114900  1740         2     small       2    No        North
112  123600  1940         2     small       2   Yes         East
119  109700  1920         2     small       4    No        North
120  110400  1930         2     large       3    No        North
122  144800  2060         2     small       1   Yes         East
125  113500  2070         2     small       2    No        North

In [8]:
kolom1dan2 = data_felix.iloc[:, 0:2]

print(kolom1dan2)

      Price  SqFt
0    114300  1790
1    114200  2030
2    114800  1740
3     94700  1980
4    119800  2130
..      ...   ...
123  119700  1900
124  147900  2160
125  113500  2070
126  149900  2020
127  124600  2250

[128 rows x 2 columns]

In [9]:
kolom3dan4 = data_felix.iloc[:, 2:4]

print(kolom3dan4)

     Bedrooms  Bathrooms
0           2          2
1           4          2
2           3          2
3           3          2
4           3          3
..        ...        ...
123         3          3
124         4          3
125         2          2
126         3          3
127         3          3

[128 rows x 2 columns]

In [10]:
kolom1sd4 = pd.concat([kolom1dan2, kolom3dan4], axis=1)

print(kolom1sd4)

      Price  SqFt  Bedrooms  Bathrooms
0    114300  1790         2          2
1    114200  2030         4          2
2    114800  1740         3          2
3     94700  1980         3          2
4    119800  2130         3          3
..      ...   ...       ...        ...
123  119700  1900         3          3
124  147900  2160         4          3
125  113500  2070         2          2
126  149900  2020         3          3
127  124600  2250         3          3

[128 rows x 4 columns]

In [11]:
baris1sd3 = data_felix.iloc[0:3, :]
baris4sd6 = data_felix.iloc[3:6, :]
baris1sd6 = baris1sd3.append(baris4sd6)

print(baris1sd6)

    Price  SqFt  Bedrooms  Bathrooms  Offers Brick Neighborhood
0  114300  1790         2          2       2    No         East
1  114200  2030         4          2       3    No         East
2  114800  1740         3          2       1    No         East
3   94700  1980         3          2       3    No         East
4  119800  2130         3          3       3    No         East
5  114600  1780         3          2       2    No        North

C:\Users\Felix\AppData\Local\Temp\ipykernel_10984\4102121324.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  baris1sd6 = baris1sd3.append(baris4sd6)

In [12]:
data_felix_sort = data_felix.sort_values(by='Price')

print(data_felix_sort)

      Price  SqFt  Bedrooms  Bathrooms  Offers Brick Neighborhood
28    69100  1600         2          2       3    No        North
54    81300  1650         3          2       3    No        North
104   82300  1910         3          2       4    No         East
17    83600  1990         3          3       4    No        North
47    90300  2050         3          2       6    No        North
..      ...   ...       ...        ...     ...   ...          ...
81   184300  2140         4          3       2   Yes         West
29   188000  2040         4          3       1   Yes         West
85   188300  2250         4          3       2   Yes         West
116  199500  2290         5          4       1   Yes         West
103  211200  2440         4          3       3   Yes         West

[128 rows x 7 columns]

In [14]:
import pandas as pd

data_felix = pd.read_clipboard()

print(data_felix)

       nama          nim       ttl  tinggi gender
0     felix  65002300001  1/1/2005     171      p
1   dewanto  65002300002  1/2/2005     165      p
2   bambang  65002300003  1/3/2005     175      p
3    rayyan  65002300004  1/4/2005     172      p
4      bayu  65002300005  1/5/2005     130      p
5      vira  65002300006  1/5/2005     175      p
6      adit  65002300007  1/5/2005     163      p
7    rayhan  65002300008  1/5/2005     180      p
8      jett  65002300009  1/5/2005     158      p
9      imam  65002300010  1/5/2005     170      p
10     faiz  65002300011  1/5/2005     168      p
11     dony  65002300012  1/5/2005     185      p
12    monic  65002300013  1/5/2005     155      w
13    syifa  65002300014  1/5/2005     169      w
14   daniel  65002300015  1/5/2005     160      p
15     naya  65002300016  1/3/2005     172      w
16    putri  65002300017  1/3/2005     130      w
17   ranggi  65002300018  1/3/2005     175      p
18  nadhira  65002300019  1/3/2005     163      w
19     dafa  65002300020  1/3/2005     180      p
20    akbar  65002300021  1/2/2005     171      p
21   arjuna  65002300022  1/3/2005     165      p
22    iqbal  65002300023  1/4/2005     175      p
23    bahru  65002300024  1/5/2005     172      p
24     caca  65002300025  1/5/2005     130      w
25   hafidz  65002300026  1/5/2005     175      p
26    hakim  65002300027  1/5/2005     163      p
27     ersa  65002300028  1/5/2005     180      p
28  syahrul  65002300029  1/5/2005     158      p
29   rombon  65002300030  1/5/2005     170      p

In [16]:
felix = data_felix[data_felix['tinggi'] > 170]

print(felix)

       nama          nim       ttl  tinggi gender
0     felix  65002300001  1/1/2005     171      p
2   bambang  65002300003  1/3/2005     175      p
3    rayyan  65002300004  1/4/2005     172      p
5      vira  65002300006  1/5/2005     175      p
7    rayhan  65002300008  1/5/2005     180      p
11     dony  65002300012  1/5/2005     185      p
15     naya  65002300016  1/3/2005     172      w
17   ranggi  65002300018  1/3/2005     175      p
19     dafa  65002300020  1/3/2005     180      p
20    akbar  65002300021  1/2/2005     171      p
22    iqbal  65002300023  1/4/2005     175      p
23    bahru  65002300024  1/5/2005     172      p
25   hafidz  65002300026  1/5/2005     175      p
27     ersa  65002300028  1/5/2005     180      p

In [17]:
data_felix['tinggi'] = pd.to_numeric(data_felix['tinggi'])

import numpy as np

data_felix['tinggi'] = data_felix['tinggi'].apply(lambda x:'tinggi'if x>160else'pendek')
                                              
print(data_felix)

       nama          nim       ttl  tinggi gender
0     felix  65002300001  1/1/2005  tinggi      p
1   dewanto  65002300002  1/2/2005  tinggi      p
2   bambang  65002300003  1/3/2005  tinggi      p
3    rayyan  65002300004  1/4/2005  tinggi      p
4      bayu  65002300005  1/5/2005  pendek      p
5      vira  65002300006  1/5/2005  tinggi      p
6      adit  65002300007  1/5/2005  tinggi      p
7    rayhan  65002300008  1/5/2005  tinggi      p
8      jett  65002300009  1/5/2005  pendek      p
9      imam  65002300010  1/5/2005  tinggi      p
10     faiz  65002300011  1/5/2005  tinggi      p
11     dony  65002300012  1/5/2005  tinggi      p
12    monic  65002300013  1/5/2005  pendek      w
13    syifa  65002300014  1/5/2005  tinggi      w
14   daniel  65002300015  1/5/2005  pendek      p
15     naya  65002300016  1/3/2005  tinggi      w
16    putri  65002300017  1/3/2005  pendek      w
17   ranggi  65002300018  1/3/2005  tinggi      p
18  nadhira  65002300019  1/3/2005  tinggi      w
19     dafa  65002300020  1/3/2005  tinggi      p
20    akbar  65002300021  1/2/2005  tinggi      p
21   arjuna  65002300022  1/3/2005  tinggi      p
22    iqbal  65002300023  1/4/2005  tinggi      p
23    bahru  65002300024  1/5/2005  tinggi      p
24     caca  65002300025  1/5/2005  pendek      w
25   hafidz  65002300026  1/5/2005  tinggi      p
26    hakim  65002300027  1/5/2005  tinggi      p
27     ersa  65002300028  1/5/2005  tinggi      p
28  syahrul  65002300029  1/5/2005  pendek      p
29   rombon  65002300030  1/5/2005  tinggi      p

<>:5: SyntaxWarning: invalid decimal literal
<>:5: SyntaxWarning: invalid decimal literal
C:\Users\Felix\AppData\Local\Temp\ipykernel_8492\2224157185.py:5: SyntaxWarning: invalid decimal literal
  data_felix['tinggi'] = data_felix['tinggi'].apply(lambda x:'tinggi'if x>160else'pendek')

In [21]:
data_felix['jurusan'] = 'infor20'
data_felix['fakultas'] = 'FTI'

print(data_felix)

       nama          nim       ttl  tinggi gender  jurusan fakultas
0     felix  65002300001  1/1/2005  tinggi      p  infor20      FTI
1   dewanto  65002300002  1/2/2005  tinggi      p  infor20      FTI
2   bambang  65002300003  1/3/2005  tinggi      p  infor20      FTI
3    rayyan  65002300004  1/4/2005  tinggi      p  infor20      FTI
4      bayu  65002300005  1/5/2005  pendek      p  infor20      FTI
5      vira  65002300006  1/5/2005  tinggi      p  infor20      FTI
6      adit  65002300007  1/5/2005  tinggi      p  infor20      FTI
7    rayhan  65002300008  1/5/2005  tinggi      p  infor20      FTI
8      jett  65002300009  1/5/2005  pendek      p  infor20      FTI
9      imam  65002300010  1/5/2005  tinggi      p  infor20      FTI
10     faiz  65002300011  1/5/2005  tinggi      p  infor20      FTI
11     dony  65002300012  1/5/2005  tinggi      p  infor20      FTI
12    monic  65002300013  1/5/2005  pendek      w  infor20      FTI
13    syifa  65002300014  1/5/2005  tinggi      w  infor20      FTI
14   daniel  65002300015  1/5/2005  pendek      p  infor20      FTI
15     naya  65002300016  1/3/2005  tinggi      w  infor20      FTI
16    putri  65002300017  1/3/2005  pendek      w  infor20      FTI
17   ranggi  65002300018  1/3/2005  tinggi      p  infor20      FTI
18  nadhira  65002300019  1/3/2005  tinggi      w  infor20      FTI
19     dafa  65002300020  1/3/2005  tinggi      p  infor20      FTI
20    akbar  65002300021  1/2/2005  tinggi      p  infor20      FTI
21   arjuna  65002300022  1/3/2005  tinggi      p  infor20      FTI
22    iqbal  65002300023  1/4/2005  tinggi      p  infor20      FTI
23    bahru  65002300024  1/5/2005  tinggi      p  infor20      FTI
24     caca  65002300025  1/5/2005  pendek      w  infor20      FTI
25   hafidz  65002300026  1/5/2005  tinggi      p  infor20      FTI
26    hakim  65002300027  1/5/2005  tinggi      p  infor20      FTI
27     ersa  65002300028  1/5/2005  tinggi      p  infor20      FTI
28  syahrul  65002300029  1/5/2005  pendek      p  infor20      FTI
29   rombon  65002300030  1/5/2005  tinggi      p  infor20      FTI

In [22]:
data_felix = data_felix.drop(columns=['fakultas'])

print(data_felix)

       nama          nim       ttl  tinggi gender  jurusan
0     felix  65002300001  1/1/2005  tinggi      p  infor20
1   dewanto  65002300002  1/2/2005  tinggi      p  infor20
2   bambang  65002300003  1/3/2005  tinggi      p  infor20
3    rayyan  65002300004  1/4/2005  tinggi      p  infor20
4      bayu  65002300005  1/5/2005  pendek      p  infor20
5      vira  65002300006  1/5/2005  tinggi      p  infor20
6      adit  65002300007  1/5/2005  tinggi      p  infor20
7    rayhan  65002300008  1/5/2005  tinggi      p  infor20
8      jett  65002300009  1/5/2005  pendek      p  infor20
9      imam  65002300010  1/5/2005  tinggi      p  infor20
10     faiz  65002300011  1/5/2005  tinggi      p  infor20
11     dony  65002300012  1/5/2005  tinggi      p  infor20
12    monic  65002300013  1/5/2005  pendek      w  infor20
13    syifa  65002300014  1/5/2005  tinggi      w  infor20
14   daniel  65002300015  1/5/2005  pendek      p  infor20
15     naya  65002300016  1/3/2005  tinggi      w  infor20
16    putri  65002300017  1/3/2005  pendek      w  infor20
17   ranggi  65002300018  1/3/2005  tinggi      p  infor20
18  nadhira  65002300019  1/3/2005  tinggi      w  infor20
19     dafa  65002300020  1/3/2005  tinggi      p  infor20
20    akbar  65002300021  1/2/2005  tinggi      p  infor20
21   arjuna  65002300022  1/3/2005  tinggi      p  infor20
22    iqbal  65002300023  1/4/2005  tinggi      p  infor20
23    bahru  65002300024  1/5/2005  tinggi      p  infor20
24     caca  65002300025  1/5/2005  pendek      w  infor20
25   hafidz  65002300026  1/5/2005  tinggi      p  infor20
26    hakim  65002300027  1/5/2005  tinggi      p  infor20
27     ersa  65002300028  1/5/2005  tinggi      p  infor20
28  syahrul  65002300029  1/5/2005  pendek      p  infor20
29   rombon  65002300030  1/5/2005  tinggi      p  infor20

In [33]:
namagender = data_felix.iloc[:, [0,4]]

print(namagender)

       nama gender
0     felix      p
1   dewanto      p
2   bambang      p
3    rayyan      p
4      bayu      p
5      vira      p
6      adit      p
7    rayhan      p
8      jett      p
9      imam      p
10     faiz      p
11     dony      p
12    monic      w
13    syifa      w
14   daniel      p
15     naya      w
16    putri      w
17   ranggi      p
18  nadhira      w
19     dafa      p
20    akbar      p
21   arjuna      p
22    iqbal      p
23    bahru      p
24     caca      w
25   hafidz      p
26    hakim      p
27     ersa      p
28  syahrul      p
29   rombon      p

In [37]:
angkatantinggi = data_felix.iloc[:, [3,5]]

print(angkatantinggi)

    tinggi  jurusan
0   tinggi  infor20
1   tinggi  infor20
2   tinggi  infor20
3   tinggi  infor20
4   pendek  infor20
5   tinggi  infor20
6   tinggi  infor20
7   tinggi  infor20
8   pendek  infor20
9   tinggi  infor20
10  tinggi  infor20
11  tinggi  infor20
12  pendek  infor20
13  tinggi  infor20
14  pendek  infor20
15  tinggi  infor20
16  pendek  infor20
17  tinggi  infor20
18  tinggi  infor20
19  tinggi  infor20
20  tinggi  infor20
21  tinggi  infor20
22  tinggi  infor20
23  tinggi  infor20
24  pendek  infor20
25  tinggi  infor20
26  tinggi  infor20
27  tinggi  infor20
28  pendek  infor20
29  tinggi  infor20

In [39]:
gabung = pd.concat([namagender, angkatantinggi], axis=1)

print(gabung)

       nama gender  tinggi  jurusan
0     felix      p  tinggi  infor20
1   dewanto      p  tinggi  infor20
2   bambang      p  tinggi  infor20
3    rayyan      p  tinggi  infor20
4      bayu      p  pendek  infor20
5      vira      p  tinggi  infor20
6      adit      p  tinggi  infor20
7    rayhan      p  tinggi  infor20
8      jett      p  pendek  infor20
9      imam      p  tinggi  infor20
10     faiz      p  tinggi  infor20
11     dony      p  tinggi  infor20
12    monic      w  pendek  infor20
13    syifa      w  tinggi  infor20
14   daniel      p  pendek  infor20
15     naya      w  tinggi  infor20
16    putri      w  pendek  infor20
17   ranggi      p  tinggi  infor20
18  nadhira      w  tinggi  infor20
19     dafa      p  tinggi  infor20
20    akbar      p  tinggi  infor20
21   arjuna      p  tinggi  infor20
22    iqbal      p  tinggi  infor20
23    bahru      p  tinggi  infor20
24     caca      w  pendek  infor20
25   hafidz      p  tinggi  infor20
26    hakim      p  tinggi  infor20
27     ersa      p  tinggi  infor20
28  syahrul      p  pendek  infor20
29   rombon      p  tinggi  infor20

In [40]:
bar15 = data_felix.iloc[0:5, :]
bar2530 = data_felix.iloc[5:30, :]
baris = bar15.append(bar2530)

print(baris)

       nama          nim       ttl  tinggi gender  jurusan
0     felix  65002300001  1/1/2005  tinggi      p  infor20
1   dewanto  65002300002  1/2/2005  tinggi      p  infor20
2   bambang  65002300003  1/3/2005  tinggi      p  infor20
3    rayyan  65002300004  1/4/2005  tinggi      p  infor20
4      bayu  65002300005  1/5/2005  pendek      p  infor20
5      vira  65002300006  1/5/2005  tinggi      p  infor20
6      adit  65002300007  1/5/2005  tinggi      p  infor20
7    rayhan  65002300008  1/5/2005  tinggi      p  infor20
8      jett  65002300009  1/5/2005  pendek      p  infor20
9      imam  65002300010  1/5/2005  tinggi      p  infor20
10     faiz  65002300011  1/5/2005  tinggi      p  infor20
11     dony  65002300012  1/5/2005  tinggi      p  infor20
12    monic  65002300013  1/5/2005  pendek      w  infor20
13    syifa  65002300014  1/5/2005  tinggi      w  infor20
14   daniel  65002300015  1/5/2005  pendek      p  infor20
15     naya  65002300016  1/3/2005  tinggi      w  infor20
16    putri  65002300017  1/3/2005  pendek      w  infor20
17   ranggi  65002300018  1/3/2005  tinggi      p  infor20
18  nadhira  65002300019  1/3/2005  tinggi      w  infor20
19     dafa  65002300020  1/3/2005  tinggi      p  infor20
20    akbar  65002300021  1/2/2005  tinggi      p  infor20
21   arjuna  65002300022  1/3/2005  tinggi      p  infor20
22    iqbal  65002300023  1/4/2005  tinggi      p  infor20
23    bahru  65002300024  1/5/2005  tinggi      p  infor20
24     caca  65002300025  1/5/2005  pendek      w  infor20
25   hafidz  65002300026  1/5/2005  tinggi      p  infor20
26    hakim  65002300027  1/5/2005  tinggi      p  infor20
27     ersa  65002300028  1/5/2005  tinggi      p  infor20
28  syahrul  65002300029  1/5/2005  pendek      p  infor20
29   rombon  65002300030  1/5/2005  tinggi      p  infor20

C:\Users\Felix\AppData\Local\Temp\ipykernel_8492\1260410134.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  baris = bar15.append(bar2530)

In [41]:
data_felix_sort = data_felix.sort_values(by='tinggi')

print(data_felix_sort)

       nama          nim       ttl  tinggi gender  jurusan
14   daniel  65002300015  1/5/2005  pendek      p  infor20
28  syahrul  65002300029  1/5/2005  pendek      p  infor20
12    monic  65002300013  1/5/2005  pendek      w  infor20
24     caca  65002300025  1/5/2005  pendek      w  infor20
8      jett  65002300009  1/5/2005  pendek      p  infor20
4      bayu  65002300005  1/5/2005  pendek      p  infor20
16    putri  65002300017  1/3/2005  pendek      w  infor20
25   hafidz  65002300026  1/5/2005  tinggi      p  infor20
23    bahru  65002300024  1/5/2005  tinggi      p  infor20
22    iqbal  65002300023  1/4/2005  tinggi      p  infor20
17   ranggi  65002300018  1/3/2005  tinggi      p  infor20
21   arjuna  65002300022  1/3/2005  tinggi      p  infor20
20    akbar  65002300021  1/2/2005  tinggi      p  infor20
19     dafa  65002300020  1/3/2005  tinggi      p  infor20
26    hakim  65002300027  1/5/2005  tinggi      p  infor20
18  nadhira  65002300019  1/3/2005  tinggi      w  infor20
27     ersa  65002300028  1/5/2005  tinggi      p  infor20
0     felix  65002300001  1/1/2005  tinggi      p  infor20
13    syifa  65002300014  1/5/2005  tinggi      w  infor20
11     dony  65002300012  1/5/2005  tinggi      p  infor20
10     faiz  65002300011  1/5/2005  tinggi      p  infor20
9      imam  65002300010  1/5/2005  tinggi      p  infor20
7    rayhan  65002300008  1/5/2005  tinggi      p  infor20
6      adit  65002300007  1/5/2005  tinggi      p  infor20
5      vira  65002300006  1/5/2005  tinggi      p  infor20
3    rayyan  65002300004  1/4/2005  tinggi      p  infor20
2   bambang  65002300003  1/3/2005  tinggi      p  infor20
1   dewanto  65002300002  1/2/2005  tinggi      p  infor20
15     naya  65002300016  1/3/2005  tinggi      w  infor20
29   rombon  65002300030  1/5/2005  tinggi      p  infor20